.para1{
color:red;
background-color:yellow;
height:50px;
}
.para2{
background-color:lightgreen;
font-size:18px;
color:blue;
height:50px;
}
#div1{
border:dotted green;
color:yellow;
background-color:darkred;
font-size:18px;
height:90px;
}
p{
background-color:darkblue;
font-size:18px;
color:yellow;
height:50px;
}
h1{
text-align:center;

body{
background-color:white;
}
